@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.app {
    .top {
        height: 60px;
        text-align: center;
        line-height: 2.5;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $ms-color-themePrimary;
        color: $ms-color-white;

    }

    .bottom {
        height: 60px;
        text-align: center;
        line-height: 2.5;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $ms-color-white;
        background-color: lightblue;
    }

    #giftImage {
        height: 150px;
        width: 150px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
    }

    .animate__animated.animate__bounce {
        --animate-duration: 10s;
    }

    .giftBox {
        display:block;
    }

    #alertContainer {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    
    .customAlert {
        position: fixed; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        background-color: $ms-color-themePrimary;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        z-index: 1000;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        text-align: center;
        color: #fff;
        width: 300px;
        height: auto; 
    }
    

    .alertContent {
        text-align: center;

        p {
            margin-bottom: 20px;
        }

    }

    .button {
        padding: 10px 15px;
        background-color: #fff;
        color: $ms-color-themePrimary;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #005a9e;
        }
    }

}